[submodule "lib/vpr"]
	path = lib/vpr
	url = git@github.com:VeloPayments/vpr
[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:VeloPayments/googletest
[submodule "lib/vccrypt"]
	path = lib/vccrypt
	url = git@github.com:VeloPayments/vccrypt
[submodule "lib/vccert"]
	path = lib/vccert
	url = git@github.com:VeloPayments/vccert
[submodule "lib/vcdb"]
	path = lib/vcdb
	url = git@github.com:VeloPayments/vcdb
[submodule "lib/vcmodel"]
	path = lib/vcmodel
	url = git@github.com:VeloPayments/vcmodel
[submodule "lib/lmdb"]
	path = lib/lmdb
	url = git@github.com:VeloPayments/lmdb
[submodule "lib/libevent"]
	path = lib/libevent
	url = git@github.com:VeloPayments/libevent
